    <style>
 .dropdown-check-list {
  display: inline-block;
  position: relative; /* Add this line */
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 100px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute; /* Add this line */
  background-color: white; /* Add this line to ensure the background is white */
  z-index: 1000; /* Add this line to ensure it appears above other elements */
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}
    </style>
<script>
    function showLoad(color){
        {% set break = False %}
        {% for record in data %}
            {% if not break %}
                {% set break = True %}
                if ('{{ record[3] }}' === color) {
                map_50092ec2d670a75813efe362d308cc46.setView([{{record[1]}}, {{record[2]}}]);
                }
            {% endif %}
        {% endfor %}
        {% set break = False %}

    }
</script>
<div id="list1" class="dropdown-check-list" tabindex="100">
  <span class="anchor">Выберите загрузки</span>
  <ul class="items">
      {% for record in dates %}
        <li>
            <input type="checkbox"
                   class="record-checkbox"
                   data-record="{{ record[0] }}"
                   checked/>{{ record[0] }}
            <button onclick="showLoad({{record}})" value="Показать" style="border: 1px solid black; border-radius: 5px;">
                            <img width="30"
                                 height="30"
                                 src="{{ url_for('static', path='images/'+record[1].replace('rgb(', '').replace(',', '').replace(')', '')+'.png') }}"
                                 style="background-color: white !important;"/> Показать</button>
        </li>
      {% endfor %}
  </ul>
</div>

<script>
    function addMark(id_el){
        {% for record in data %}
            if ('{{ record[6] }}' === id_el) {
            map_50092ec2d670a75813efe362d308cc46.addLayer(marker_{{ record[5] }});
            console.log('adding ' + {{record[5]}} + ' marker');
        }
        {% endfor %}
    }
    function removeMark(id_el){
    {% for record in data %}
        if ('{{ record[6] }}' === id_el) {
            map_50092ec2d670a75813efe362d308cc46.removeLayer(marker_{{ record[5] }});
            console.log('removing ' + {{record[5]}} + ' marker');
        }
        {% endfor %}
    }
document.addEventListener("DOMContentLoaded", function() {
    // Select all checkboxes with the class 'record-checkbox'
    var checkboxes = document.querySelectorAll(".record-checkbox");
    // Iterate over each checkbox and attach the event listener
    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener("change", function(event) {
            // This function will be called whenever the checkbox is checked/unchecked
            var record = event.target.getAttribute("data-record");
            if (event.target.checked) {
                addMark(record);
                // Add your custom logic here
            } else {
                removeMark(record);
                // Add your custom logic here
            }
        });
    });
});
    var checkList = document.getElementById('list1');
checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
  if (checkList.classList.contains('visible'))
    checkList.classList.remove('visible');
  else
    checkList.classList.add('visible');
}
</script>
