annotated-types==0.6.0
anyio==4.3.0
asttokens==2.4.1
attrs==23.2.0
bqplot==0.12.43
branca==0.7.2
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.2.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
decorator==5.1.1
earthengine-api==0.1.401
eerepr==0.0.4
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.110.3
fiona==1.9.6
folium==0.16.0
fonttools==4.51.0
future==1.0.0
geemap==0.32.1
geocoder==1.38.1
geopandas==0.14.4
google-api-core==2.19.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
h11==0.14.0
httplib2==0.22.0
idna==3.7
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.18.2
ipython==8.24.0
ipytree==0.2.2
ipywidgets==8.1.2
jedi==0.19.1
Jinja2==3.1.3
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
numpy==1.26.4
packaging==24.0
pandas==2.2.2
parso==0.8.4
pillow==10.3.0
plotly==5.22.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.17.2
pyparsing==3.1.2
pyperclip==1.8.2
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyshp==2.3.1
python-box==7.1.1
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.1
pywin32==306
ratelim==0.1.6
requests==2.31.0
rsa==4.9
scooby==0.9.2
shapely==2.0.4
six==1.16.0
sniffio==1.3.1
stack-data==0.6.3
starlette==0.37.2
tenacity==8.2.3
tkhtmlview==0.3.0
tkintermapview==1.29
traitlets==5.14.3
traittypes==0.2.1
typing_extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.29.0
wcwidth==0.2.13
widgetsnbextension==4.0.10
xyzservices==2024.4.0
